/node_modules
/chronos/node_modules
/chiron/node_modules
/mifiStatus/node_modules
coverage
.DS_Store
.env
.env.*
.env_*
.env-*
*.log
/logs
.nyc_output
*.pid
.vscode
claudia.json
packaged.yaml
env-variables.json
